<h1>Admin Dashboard</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        <%= link_to "# of Products", admin_products_path %>
      </th>
      <td> <%= @product_count %> </td>
    </tr>
    <tr>
      <th>
        <%= link_to "# of Categories" %>
      </th>
      <td> <%= @category_count %> </td>
    </tr>
  </thead>
</table>